<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="primeiroApp">
    <div class="container">
      <h2>Contact</h2>
      <button type="button" name="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus">&nbsp;Adicionar Contato</span></button>
      <form class="form-inline">
        <br><div class="form-group" ng-repeat="divInput in addInput track by $index">
          <label for="">Nome: </label>
          <input type="text" name="name" value="" class="form-control" placeholder="Digite seu nome">
          <button type="button" name="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-minus"></span></button>
        </div>
      </form><br>
      <button type="button" name="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-save">&nbsp;Enviar</span></button>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> </p>
      </div>
    </div>

</body>
</html>
